@font-face {
    font-family: 'Prompt';
    src: url("Prompt.woff2");
}
  
* {
    font-family: 'Prompt';
}

body {
    background-color: #F5F5F5;
}

.pg-30 {
    text-indent: 30px;
}

.page-content {
    flex: 1 0 auto;
  }
  
.sticky-footer {
    flex-shrink: none;
}